-- ============================================================
-- Employee Import — เดือน6.69.xlsx (sheet 11-20 = source of truth)
-- Generated: 2026-06-22T09:58:47.224Z
-- Run in Supabase SQL Editor
-- ============================================================

-- STEP 1: employees

-- Active employees (42)
INSERT INTO employees (id, name, route_id, daily_rate, status, nationality, room_fee, notes)
  VALUES ('8ab1c04566184117', 'แม้ว',
          (SELECT id FROM routes WHERE name = 'จอมทอง' LIMIT 1),
          500, 'active', 'เมียนมา', 160, 'AN14.20/2/25')
  ON CONFLICT (id) DO NOTHING;

INSERT INTO employees (id, name, route_id, daily_rate, status, nationality, room_fee, notes)
  VALUES ('1714b5a882ccae0e', 'สุรีพล',
          (SELECT id FROM routes WHERE name = 'จอมทอง' LIMIT 1),
          360, 'active', 'เมียนมา', 80, 'P8.20/2/25')
  ON CONFLICT (id) DO NOTHING;

INSERT INTO employees (id, name, route_id, daily_rate, status, nationality, room_fee, notes)
  VALUES ('ed986caeffae0ad2', 'สีทอง',
          (SELECT id FROM routes WHERE name = 'ตากสิน' LIMIT 1),
          540, 'active', 'เมียนมา', 0, 'AN15.5-20/2/25')
  ON CONFLICT (id) DO NOTHING;









































-- Resigned employees SKIPPED (10 คน) — จะเพิ่มเองทีหลังเมื่อมีคนออก

-- STEP 2: employee_loans (permits)

INSERT INTO employee_loans (id, employee_id, type, description, total_amount, per_period_amount, paid_amount, status)
  VALUES ('87e06a1f2851bcf3', '8ab1c04566184117', 'permit', 'บัตรใบอนุญาตทำงาน',
          15500, 0, 15500, 'completed')
  ON CONFLICT (id) DO NOTHING;

INSERT INTO employee_loans (id, employee_id, type, description, total_amount, per_period_amount, paid_amount, status)
  VALUES ('39bb7ac99c0ec10a', 'ed986caeffae0ad2', 'permit', 'บัตรใบอนุญาตทำงาน',
          15500, 0, 15500, 'completed')
  ON CONFLICT (id) DO NOTHING;

INSERT INTO employee_loans (id, employee_id, type, description, total_amount, per_period_amount, paid_amount, status)
  VALUES ('0aa9f9b74d300393', '8dd91efdcf3e604f', 'permit', 'บัตรใบอนุญาตทำงาน',
          13500, 0, 15000, 'completed')
  ON CONFLICT (id) DO NOTHING;



















-- ============================================================
-- Summary:
--   Active employees  : 42
--   Resigned employees: 10
--   Permit loans      : 21
-- ============================================================
